@charset "UTF-8";

/* 기본 색상 */
:root {
  --main-color: #5d9ab2;
  --accent-color: #bf6a7a;
  --dark-main-color: #2b5566;
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;
  --large-width: 1000px;
  --purple-color: #a388f3;
}

/* 기본 설정 : 페이지 전체 */
body {
  margin: 0;
  padding: 0;
}

.conA {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(img/main_3.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark-main-color);
  color: var(--text-bright-color);
  text-align: center;
}

.conA p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.conA a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: var(--accent-color);
  color: var(--text-bright-color);
  font-size: 14px;
  text-decoration: none;
}

.conA a:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
}

@media (min-height: 768px) {
  .conA h1 {
    font-size: 85px;
  }

  .conA p {
    font-size: 24px;
  }
}

.conB .container {
  padding-top: 80px;
  padding-bottom: 20px;
}

.conB .text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  text-align: center;
}

.conB h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conB p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conB a {
  color: var(--main-color);
  text-decoration: none;
}

.conB a:hover {
  text-decoration: underline;
}

.conB .icon {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 40px;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: var(--icon-bk-color);
  color: var(--icon-color);
}

@media (min-width: 768px) {
  .conB .container {
    display: flex;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }

  .conB .text {
    flex: 1;
  }
}

.conC {
  background-color: var(--main-color);
  color: var(--text-bright-color);
}

.conC .text {
  padding: 20px;
}
.conC h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conC p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conC .photo {
  min-height: 300px;
  background-image: url(img/content_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .conC .container {
    display: flex;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }
  .conC .photo {
    flex: 3;
  }
  .conC .text {
    flex: 2;
    padding: 50px;
  }
}

.conD {
  /* color : var(--text-bright-color); */
  /* background-color: var(--purple-color); */
  margin: 40px 0;
}

.conD .text {
  margin-top: 10px;
}
.conD h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.conD p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conD .photo {
  min-height: 300px;
  background-image: url(img/content_3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .conD .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }
  .conD .photo {
    flex: 0 0 400px;
  }
  .conD .text {
    flex: 1;
    padding: 50px;
  }
}

/* 푸터 */

footer {
  color: var(--text-bright-color);
  background-color: var(--dark-main-color);
}

footer .container {
  padding: 40px 20px;
}

.footA h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
}

.footA p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.footA a {
  color: var(--accent-color);
  text-decoration: none;
}

.footA {
  margin-bottom: 30px;
}
.footB div {
  margin-bottom: 20px;
}
.footB h3 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid currentColor;
  font-size: 14px;
}

.footB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footB a {
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}
.footB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .footB {
    display: flex;
  }

  .footB div {
    flex: 1;
  }
  .footB div:not(:first-child) {
    margin-left: 40px;
  }
  footer .container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }
  .footA {
    flex: 0 0 40%;
  }
  .footB {
    flex: 0 0 100%;
  }
  .footC {
    flex: 0 0 100%;
  }
}


.footC {
  font-size: 12px;
  text-align: center;
}
.footD {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footD ul{
  display: flex;
  margin: 0;
  padding : 0;
  list-style: none;
}
.footD a {
  display: block;
  margin-right: 8px;
  padding : 0;
  color : inherit;
  font-size: 16px;
  text-decoration: none;
  border : 1px solid currentColor;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
}
.footD a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.headA{
  display: inline-block;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--main-color);
  color: var(--text-bright-color);
  font-size: 24px;
  text-decoration: none;
}